doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Carreras del Futuro
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")

    link(rel="stylesheet", href="../stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheets/bootstrap-theme.css")
    link(rel="stylesheet", href="../stylesheets/app.css")
    link(rel="stylesheet", href="../stylesheets/font.css")

    //Video
    link(rel="stylesheet", href="https://vjs.zencdn.net/5.9.2/video-js.css")


    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="../javascripts/bootstrap.min.js")
    script(src="../javascripts/code-developer.js")
    script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
    script(src="../javascripts/utils.js")
    //script(src="../javascripts/code-developer2.js")
    //script(src="../javascripts/code-developer3.js")
 body.panelPlatform
  include inc/header
  main.container-fluid.panel__Live
   div.row
    section.col-md-8.panel__Live--Movie
      video(autoplay, loop, width="100%")
        source(src="http://html5.v2bcdn.com/es/trailerclips/ES_1220_trailer_WL25R.mp4?ece058df664790e5cc127b91d7e616479f76044a425d4e96d24cc74bcdb93b08cc72bc331f106fd0183031cc42ce07220625a19cbd320614249a2d357e799b27699d2000d4102a5204cd8cd849516d400ee739699f3e09325349", type="video/mp4")
    section.col-md-4.panel__Live--Chat
      form.form__Live--Chat
        textarea(name="", cols="30", rows="2", placeholder="Comenta, Pregunta la clase")
        fieldset.form__Live--Chat--Fieldset
          input(type="submit", value="Enviar Pregunta")
      div.form__Live--Chat--Stream
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?
        article.Stream
          figure.Stream__Figure
            img(src="/users/#{user.avatar}", width="50px")
          div.Stream__Detalles
            header.Stream__Detalles--Header
              span.Name
                | #{user.nickname}
              span.Separed /
              span.Data
                | 25-06-16
            div.Stream__Detalles--Show
              p.description
                | Que es la etiqueta XHTML?




  
  script(src="https://vjs.zencdn.net/5.9.2/video.js")