doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Carreras del Futuro
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")

    link(rel="stylesheet", href="../stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheets/bootstrap-theme.css")
    link(rel="stylesheet", href="../stylesheets/app.css")

    //Video
    link(rel="stylesheet", href="https://vjs.zencdn.net/5.9.2/video-js.css")


    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="../javascripts/bootstrap.min.js")
    script(src="../javascripts/code-developer.js")
    script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
    //script(src="javascripts/code-developer2.js")
    //script(src="javascripts/code-developer3.js")
 body
  include inc/headermenu

  main.container.viewVideo
   div.row
    section.videoPrimary.col-md-12
     header.videoPrimary--Header
      h2.title
       | #{titleVideo}
     video(id="my-video" , controls class="video-js", data-setup="{}")
      source(src="#{video}", type="video/mp4")
    div.videoSecondary.col-md-12
     div.video--Iz.col-md-6
      a.linkPrev(href='#{number}')
       | #{titleSubmenu}
     div.video--De.col-md-6
      a.linkNext(href="#{numberNext}")
       | #{titleSubmenuNext}
  script(src="https://vjs.zencdn.net/5.9.2/video.js")