include inc/header
body
  
  include inc/headermenu

  main.container.viewVideo
   div.row
    section.videoPrimary.col-md-12
     header.videoPrimary--Header
      h2.title
       | #{titleVideo}
     video(id="my-video" , controls class="video-js", data-setup="{}")
      source(src="#{video}", type="video/mp4")
    div.videoSecondary.col-md-12
     div.video--Iz.col-md-6
      a.linkPrev(href='#{number}')
       | #{titleSubmenu}
     div.video--De.col-md-6
      a.linkNext(href="#{numberNext}")
       | #{titleSubmenuNext}
  script(src="https://vjs.zencdn.net/5.9.2/video.js")